/*
--white: #fff;
--black: #2e2b29;
--black-contrast: #110f0e;
--gray-1: rgba(61, 37, 20, .05);
--gray-2: rgba(61, 37, 20, .08);
--gray-3: rgba(61, 37, 20, .12);
--gray-4: rgba(53, 38, 28, .3);
--gray-5: rgba(28, 25, 23, .6);
--green: #22c55e;
--purple: #6a00f5;
--purple-contrast: #5800cc;
--purple-light: rgba(88, 5, 255, .05);
--yellow-contrast: #facc15;
--yellow: rgba(250, 204, 21, .4);
--yellow-light: #fffae5;
--red: #ff5c33;
--red-light: #ffebe5;
--shadow: 0px 12px 33px 0px rgba(0, 0, 0, .06), 0px 3.618px 9.949px 0px rgba(0, 0, 0, .04);
*/

/* Modern editor styles */
.tiptap {
  /*color: #888888;*/
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  
  :first-child {
    margin-top: 0;
  }

  // Focus styles
  .has-focus {
    color: inherit;
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.2;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
    text-wrap: pretty;
  }

  h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  h2 {
    font-size: 1.5rem;
    margin-top: 2.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1.125rem;
  }

  h5,
  h6 {
    font-size: 1rem;
  }

  /* Paragraph styles */
  p {
    margin: 1rem 0;
    
    &:first-child {
      margin-top: 0;
    }
    
    &:last-child {
      margin-bottom: 0;
    }
  }

  /* List styles */
  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  /* BulletList styles */
  ul {
    @apply list-disc m-4 pl-5;
  }

  /* OrderedList styles */
  ol {
    @apply list-decimal m-4 pl-5;
  }

  /* Task list styles */
  ul[data-type="taskList"] {
    list-style: none;
    margin-left: 0;
    padding: 0;
    
    li {
      display: flex;
      align-items: flex-start;
      
      > label {
        flex: 0 0 auto;
        margin-right: 0.5rem;
        user-select: none;
      }

      > div {
        flex: 1 1 auto;
      }
    }

    input[type='checkbox'] {
      cursor: pointer;
    }

    ul[data-type='taskList'] {
      margin: 0;
    }
  }

  hr {
    border: none;
    border-top: 1px solid #e2e8f0;
    cursor: pointer;
    margin: 2rem 0;

    &.ProseMirror-selectednode {
      border-top: 2px solid #3b82f6;
    }
  }

  /* Highlight */
  mark {
    background-color: #fef08a;
    border-radius: 0.25rem;
    box-decoration-break: clone;
    padding: 0.125rem 0.25rem;
  }

  /* Link styles */
  a {
    color: #3b82f6;
    text-decoration: underline;
    
    &:hover {
      color: #1d4ed8;
      cursor: pointer;
    }
  }

  blockquote {
    border-left: 4px solid #3b82f6;
    margin: 1.5rem 0;
    padding-left: 1rem;
    font-style: italic;
    color: #64748b;
  }

  /* Table-specific styling */
  .tableWrapper {
    overflow: visible;
    border: 2px solid transparent;

    table {
      border-collapse: collapse;
      margin: 0;
      overflow: visible;
      table-layout: fixed;
      width: 100%;

      td,
      th {
        border: 1px solid rgba(61, 37, 20, .12);
        box-sizing: border-box;
        min-width: 1em;
        padding: 6px 8px;
        position: relative;
        vertical-align: top;
        
        > * {
          margin-bottom: 0;
        }
      }

      th {
        background-color: rgba(61, 37, 20, .05);
        font-weight: bold;
        text-align: left;
      }

      .selectedCell:after {
        background: rgba(61, 37, 20, .08);
        content: '';
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        pointer-events: none;
        position: absolute;
        z-index: 2;
      }

      .column-resize-handle {
        background-color: #6a00f5;
        bottom: -2px;
        pointer-events: none;
        position: absolute;
        right: -2px;
        top: 0;
        width: 4px;
      }
    }
  }

  &.resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
  }

  /* inline Code */
  code {
    background-color: #f1f5f9;
    border-radius: 0.25rem;
    color: #e11d48;
    font-size: 0.875rem;
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', monospace;
    padding: 0.125rem 0.25rem;
  }

  /* Code block */
  pre {
    background: #000000;
    border-radius: 0.5rem;
    color: #FFFFFF;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }

    /* Code styling */
    .hljs-comment,
    .hljs-quote {
      color: #616161;
    }

    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-name,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      color: #f98181;
    }

    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      color: #fbbc88;
    }

    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      color: #b9f18d;
    }

    .hljs-title,
    .hljs-section {
      color: #faf594;
    }

    .hljs-keyword,
    .hljs-selector-tag {
      color: #70cff8;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: 700;
    }
  }

  /* Image */
  img {
    display: block;
    height: auto;
    max-width: 100%;
    border-radius: 0.5rem;

    &.ProseMirror-selectednode {
      outline: 3px solid #6a00f5;
    }
  }

  /* Youtube embed */
  div[data-youtube-video] {
    cursor: move;
    margin: 1.5rem;
    
    iframe {
      border: 0.5rem solid #110f0e;
      display: block;
      min-height: 200px;
      min-width: 200px;
      outline: 0px solid transparent;
    }

    &.ProseMirror-selectednode iframe {
      outline: 3px solid #3b82f6;
      transition: outline 0.15s;
    }
  }

  // Mathematics extension styles
  .tiptap-mathematics-render {
    padding: 0 0.25rem;

    &--editable {
      cursor: pointer;
      transition: background 0.2s;

      &:hover {
        background: rgba(59, 130, 246, 0.15);
      }
    }
  }

  .tiptap-mathematics-render {
    border-radius: 0.25rem;

    &[data-type='inline-math'] {
      display: inline-block;
    }

    &[data-type='block-math'] {
      display: block;
      margin: 1rem 0;
      padding: 1rem;
      text-align: center;
      border-radius: 0.5rem;
    }

    &.inline-math-error,
    &.block-math-error {
      background: #ffebe5;
      color: #ff5c33;
      border: 1px solid #ae2300;
      padding: 0.5rem;
    }
  }

  /* Placeholder (at the top) */
  p.is-editor-empty:first-child::before {
    color: rgba(53, 38, 28, .3);
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  /* Placeholder (on every new line) */
  .is-empty::before {
    color: rgba(53, 38, 28, .3);
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
}