.tiptap {
  .popup-tools-highlight {
    background: transparent;
  }
}

.range-highlight-overlay.iw-range-highlight-popup-tools {
  z-index: 5;
  border: var(--border-width, 1px) dashed color-mix(in oklab, var(--color-primary, 50%), #3b82f6);
  border-radius: var(--radius-box, 0.25rem);
  background: color-mix(in oklab, var(--color-primary) 15%, transparent);
}
