.tiptap {
  // 拼写错误 - 红色波浪下划线
  .spelling-error {
    background-color: var(--theme-status-error, #ef444433);
    border-radius: 0px;
    text-decoration: underline wavy var(--theme-status-error, #ef4444);
    text-decoration-thickness: 1.2px;
    text-underline-offset: 2px;
    cursor: pointer;
  }

  // 语法错误 - 黄色点状下划线
  .grammar-error {
    background-color: var(--theme-status-warning, #f59e0b33);
    border-radius: 0px;
    text-decoration: underline solid var(--theme-status-warning, #f59e0b);
    text-decoration-thickness: 1.2px;
    text-underline-offset: 2px;
    cursor: pointer;
  }

  // 风格错误 - 蓝色实线下划线
  .style-error {
    background-color: var(--theme-status-info, #3b82f633);
    border-radius: 0px;
    text-decoration: underline solid var(--theme-status-info, #3b82f6);
    text-decoration-thickness: 1.2px;
    text-underline-offset: 2px;
    cursor: pointer;
  }

  // 默认错误 - 橙色实线下划线
  .misc-error {
    background-color: var(--theme-status-info, #3b82f633);
    border-radius: 0px;
    text-decoration: underline dotted var(--theme-status-neutral, #3b82f6);
    text-decoration-thickness: 1.2px;
    text-underline-offset: 2px;
    cursor: pointer;
  }
}